<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>%)</key>
	<string>😜</string>
	<key>%-)</key>
	<string>😜</string>
	<key>(=^..^=)</key>
	<string>😸</string>
	<key>(=^.^=)</key>
	<string>😸</string>
	<key>(N)</key>
	<string>👎</string>
	<key>(Y)</key>
	<string>👍</string>
	<key>(]:{</key>
	<string>👳</string>
	<key>-&lt;@%</key>
	<string>🐝</string>
	<key>-_-</key>
	<string>😑</string>
	<key>:!</key>
	<string>😬</string>
	<key>:&apos;(</key>
	<string>😢</string>
	<key>:(</key>
	<string>😞</string>
	<key>:(:)</key>
	<string>🐷</string>
	<key>:(|)</key>
	<string>🐵</string>
	<key>:)</key>
	<string>😃</string>
	<key>:*</key>
	<string>😗</string>
	<key>:-!</key>
	<string>😬</string>
	<key>:-(</key>
	<string>😞</string>
	<key>:-)</key>
	<string>😃</string>
	<key>:-*</key>
	<string>😗</string>
	<key>:-/</key>
	<string>😕</string>
	<key>:-&gt;</key>
	<string>😏</string>
	<key>:-@</key>
	<string>😷</string>
	<key>:-D</key>
	<string>😀</string>
	<key>:-O</key>
	<string>😲</string>
	<key>:-P</key>
	<string>😛</string>
	<key>:-S</key>
	<string>😖</string>
	<key>:-X</key>
	<string>😶</string>
	<key>:-[</key>
	<string>😳</string>
	<key>:-\</key>
	<string>😕</string>
	<key>:-d</key>
	<string>😋</string>
	<key>:-o</key>
	<string>😮</string>
	<key>:-p</key>
	<string>😛</string>
	<key>:-s</key>
	<string>😖</string>
	<key>:-|</key>
	<string>😐</string>
	<key>:/</key>
	<string>😕</string>
	<key>:3</key>
	<string>😸</string>
	<key>:&gt;</key>
	<string>😏</string>
	<key>:@</key>
	<string>😷</string>
	<key>:D</key>
	<string>😀</string>
	<key>:O</key>
	<string>😲</string>
	<key>:P</key>
	<string>😛</string>
	<key>:S</key>
	<string>😖</string>
	<key>:X</key>
	<string>😶</string>
	<key>:X)</key>
	<string>😸</string>
	<key>:[</key>
	<string>😳</string>
	<key>:\</key>
	<string>😕</string>
	<key>:d</key>
	<string>😋</string>
	<key>:o</key>
	<string>😮</string>
	<key>:p</key>
	<string>😛</string>
	<key>:s</key>
	<string>😖</string>
	<key>:|</key>
	<string>😐</string>
	<key>;)</key>
	<string>😉</string>
	<key>;*</key>
	<string>😘</string>
	<key>;-)</key>
	<string>😉</string>
	<key>;-*</key>
	<string>😘</string>
	<key>;-P</key>
	<string>😜</string>
	<key>;-p</key>
	<string>😜</string>
	<key>;P</key>
	<string>😜</string>
	<key>;_;</key>
	<string>😭</string>
	<key>,_,</key>
	<string>😢</string>
	<key>;-;</key>
	<string>😢</string>
	<key>;p</key>
	<string>😜</string>
	<key>&lt;/3</key>
	<string>💔</string>
	<key>&lt;3</key>
	<string>❤️</string>
	<key>&lt;\3</key>
	<string>💔</string>
	<key>=&apos;(</key>
	<string>😢</string>
	<key>=(</key>
	<string>😞</string>
	<key>=)</key>
	<string>😃</string>
	<key>=/</key>
	<string>😕</string>
	<key>=D</key>
	<string>😄</string>
	<key>=O</key>
	<string>😲</string>
	<key>=P</key>
	<string>😛</string>
	<key>=\</key>
	<string>😕</string>
	<key>=^_^=</key>
	<string>😸</string>
	<key>=o</key>
	<string>😮</string>
	<key>=p</key>
	<string>😛</string>
	<key>=|</key>
	<string>😐</string>
	<key>&gt;.&lt;</key>
	<string>😡</string>
	<key>&gt;:(</key>
	<string>😡</string>
	<key>&gt;:)</key>
	<string>😈</string>
	<key>&gt;:-(</key>
	<string>😡</string>
	<key>&gt;:-)</key>
	<string>😈</string>
	<key>&gt;:-o</key>
	<string>😠</string>
	<key>&gt;:3</key>
	<string>😼</string>
	<key>&gt;:o</key>
	<string>😠</string>
	<key>&gt;=(</key>
	<string>😡</string>
	<key>&gt;_&lt;</key>
	<string>😣</string>
	<key>&gt;w&lt;</key>
	<string>😖</string>
	<key>B)</key>
	<string>😎</string>
	<key>B-)</key>
	<string>😎</string>
	<key>D-:</key>
	<string>😩</string>
	<key>D:</key>
	<string>😦</string>
	<key>O.O</key>
	<string>😲</string>
	<key>O:)</key>
	<string>😇</string>
	<key>O:-)</key>
	<string>😇</string>
	<key>O=)</key>
	<string>😇</string>
	<key>T_T</key>
	<string>😢</string>
	<key>X(</key>
	<string>😵</string>
	<key>X-(</key>
	<string>😵</string>
	<key>X-O</key>
	<string>😵</string>
	<key>X-o</key>
	<string>😵</string>
	<key>X3</key>
	<string>😹</string>
	<key>xD</key>
	<string>😂</string>
	<key>XD</key>
	<string>😂</string>
	<key>^^;</key>
	<string>😅</string>
	<key>^_^</key>
	<string>😁</string>
	<key>^_^;;</key>
	<string>😅</string>
	<key>o.o</key>
	<string>😮</string>
	<key>o_o;</key>
	<string>😓</string>
	<key>u_u</key>
	<string>😔</string>
	<key>x_x</key>
	<string>😵</string>
	<key>}:)</key>
	<string>😈</string>
	<key>}:-)</key>
	<string>😈</string>
	<key>}=)</key>
	<string>😈</string>
	<key>~@~</key>
	<string>💩</string>
</dict>
</plist>
