<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Hangouts.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>HangoutsCore.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>HangoutsProvider.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>Mocha.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>MochaUI.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>Parrot.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>ParrotServiceExtension.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>ParrotShare.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>ParrotToday.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>XPCTransport.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
		<key>parrot-cli.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>480363991C1D08490008E9F5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>481300431D26BD4900768D79</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>486DBB2F1F947FB900ECA84B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>48834D911C1B3602009BC442</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>48834DA21C1B3602009BC442</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>48834DAD1C1B3602009BC442</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>48834DC81C1B370D009BC442</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>48834DD11C1B370D009BC442</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>48834DEB1C1B372D009BC442</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>48834DF41C1B372E009BC442</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>48834E101C1B38B9009BC442</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4894215A1EC0DDD00047FDBB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>48D3CCE11DE94433003D6C02</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>48D3CCF41DE9446D003D6C02</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>48DDE7F6208C5C61001B8AA9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>48DE52C71C1CC12900647C63</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>48DE52DB1C1CC1D300647C63</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>48DE52EF1C1CC28000647C63</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
